<%= render "shared/second-header" %>

Residentサイト
<div class="user-access">
  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "user-access-link" %>
</div>

<%= render "shared/footer" %>
