.building-up-page {
  position: relative;
  height: fit-content;
}

.building-up-page-image {
  position: absolute;
  top: -20px;
  bottom: -20px;
  width: 100vw;
  height: calc(100% + 40px);
  background-image: image-url('registration-page.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  opacity: 0.5;
  z-index: -99;
}

.building-up-page-main {
  margin: 20px 1%;
  width: 98vw;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.875);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.259);
  padding: 2% 3%;
}

/* Room upload form */
.room-up-header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.room-up-input {
  border-collapse: collapse;
  width: 100%;

  thead {
    th {
      background-color: #f2f2f2;
      border: 1px solid  #ba9e4f;
      padding: 8px;
      text-align: left;
        &.room-image {
          width: 21%;
        }
        &.room-room-number,
        &.room-floor-area {
          width: 7%;
        }
        &.room-rent,
        &.room-management-fee,
        &.room-deposit,
        &.room-key-money {
          width: 10%;
        }
        &.room-layout {
          width: 6%;
        }
        &.room-available-date {
          width: 14%;
        }
        &.room-delete-btn {
          width: 5%;
        }
    }
  }

  tbody {
    tr {
      border: 1px solid  #ba9e4f;

      td {
        border: 1px solid  #ba9e4f;
        padding: 8px;
        vertical-align: middle;

        &.room-image {
          width: 21%;
          input {
            width: 100%;
          }
        }
        &.room-room-number {
          width: 7%;
          input {
            width: 100%;
          }
        }
        &.room-rent,
        &.room-management-fee,
        &.room-deposit,
        &.room-key-money {
          width: 10%;
          input {
            width: 85%;
          }
        }
        &.room-layout {
          width: 6%;
          input {
            width: 100%;
          }
        }
        &.room-floor-area {
          width: 7%;
          input {
            width: 78%;
          }
        }
        &.room-available-date {
          width: 14%;
          select {
          display: inline-block;
          width: auto;
          }
        }
        &.room-delete-btn {
          width: 5%;
        }
        a {
          text-decoration: none;
          background-color: #ba9e4f;
          color: #fff;
          font-size: 1rem;
          padding: 0.5rem 0.5rem;
          border: none;
          border-radius: 0.25rem;
          &:hover {
            background-color: #b6a473;
          }
        }
      }
    }
  }
}

.add-upload-btn {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 5px;
  border-bottom: 1px solid #dcd0af;

    a {
      margin-bottom: 5px;
      text-decoration: none;
      background-color: #ba9e4f;
      color: #fff;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.25rem;
      &:hover {
        background-color: #b6a473;
      }
    }
}
