* {
  box-sizing: border-box;
}

// ページ全体のバックイメージ
.main-property-image {
  width: 100vw;
  max-height: fit-content;
  background-image: image-url('header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
}

.property-logo {
  font-size: 10vh;
  font-weight: 800;
  color: #d9ffe8;
  text-align: center;
  font-family: 'Zapfino', sans-serif;
  margin: 30px auto;
  }

// ページ全体のバックイメージ //

header {
  width: 90vw;
  height: 100px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#detailed-search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-field {
  margin-left: 20px;
}

main {
  width: 100%;
  height: fit-content;
}

.page-line {
  width: 90%;
  height: 2px;
  background-color: #fff;
  margin: 50px auto;
}

.space {
  height: 500px;
}

// ユーザー登録とログインボタン
.user-access-text {
  width: 25%;
  height: 60px;
  margin: 30px auto 10px;
  text-align: center;
}

.are-you-member {
  font-size: 180%;
  font-weight: bold;
  color: #fff;
}

.user-access {
  width: fit-content;
  height: 50px;
  margin: auto;
  background-color: #3ccace;
  opacity: 0.8;
  text-align: center;
  border-radius: 10px;
  padding: auto;
}

.user-access-link {
  text-decoration: none;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: whitesmoke;
  margin: auto;
}

.user-input {
  margin: 0 auto;
  width: fit-content;
  height: 80px;
  justify-content: center;
  align-content: center;
}

.user-input-link {
  background-color: #3ccace;
  margin: 0 auto;
  border-radius: 10px;
  width: fit-content;
}

.label-btn {
  color: #fff;
  font-size: 20px;
  margin-right: 20px;
}
// ユーザー登録とログインボタン //

// 会社連絡先情報コラム
.contact-information {
  margin: 30px auto 10px;
  width: 70%;
  height: fit-content;
  padding: 20px;
}

.contact-information-list {
  margin-bottom: 20px;
}

.contact-logo {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color: rgb(222, 241, 232);
  font-size: 25px;
  text-decoration: none;
}

.company-logo-in-contact {
  width: 11vw;
  opacity: 0.8;
}

.contact-information-link {
  text-decoration: none;
  color: rgb(222, 241, 232);
  font-weight: bold;
  line-height: 30px;
}
// 会社連絡先情報コラム //

// フッター
footer {
  width: 90vw;
  height: 100px;
  margin: 0 auto 20px;
  background-color: black;
  opacity: 0.7;
}

.footer-link-lists {
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
}

.footer-link {
  color: rgb(222, 241, 232);
  text-decoration: none;
}

.link-space {
  color: rgb(222, 241, 232);
}

.©-logo-list {
  text-align: center;
}

.©-logo {
  color: rgb(222, 241, 232);
  text-decoration: none;
}

.link {
  position: relative;
  display: flex;
  transition: color .15s;
  width: fit-content;
}
.link:hover,
.link:focus {
  color: hotpink;
}

.dropDown {
  position: absolute;
  top: -50px;
  display: none;
  box-shadow: 0px 3px 8px -2px #777;
  transform: translate(0, 100%);
  width: 11vw;
  height: 50px;
  text-align: center;
  font-size: 200%;
  opacity: 0;
}

.link:hover > .dropDown,
.link:focus > .dropDown {
  display: block;
}

.dropDown__link {
  transition: color .15s;
}

// フッター //

// 住人用トップページ
.resident-main-page {
  width: 90%;
  height: auto;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resident-main-page-left {
  width: 45%;
  height: 500px;
  margin: 20px auto;
  background-color: rgb(211, 211, 227);
}

.resident-main-page-right {
  width: 45%;
  height: 500px;
  margin: 20px auto;
  background-color: rgb(215, 193, 193);
}
// 住人用トップページ //

// ユーザー用ヘッダー
.user-header {
  width: 99%;
  height: 90%;
  background-color: darkcyan;
}

.user-header-lists {
  display: flex;
  justify-content: space-evenly;
  line-height: 50px;
}

.user-header-list {
  font-size: 30px;
  text-decoration: none;
  color: rgb(206, 231, 234);
}

.header-link-space {
  color: rgb(206, 231, 234);
  font-weight: bold;
  font-size: 40px;
}
// ユーザー用ヘッダー //

/* 部屋一覧 */

.sort-link{
  text-decoration: none;
  margin-left: 2vw;
  background-color: #dbf1f2;
  color: black;
}

.room-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.room-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
  color:#FFF
}

.room-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.room-lists>.list {
  width: 37vh;
  padding: 1vw;
}


.room-img-content {
  position: relative;
}

.room-img {
  width: 33vh;
  height: 33vh;
}

.room-info {
  background-color: skyblue;
  color: white;
  padding: 1vw;
  opacity: 0.9;
}

.room-layout {
  font-size: 2.5vh;
}

.room-rent {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}

/* //部屋一覧 */