.room-up-page-image {
  position: absolute;
  top: -20px;
  bottom: -20px;
  width: 100%;
  height: calc(100% + 40px);
  background-image: image-url('registration-page.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  opacity: 0.5;
  z-index: -99;
}

.room-up-page-main {
  margin: 20px 1%;
  width: 98%;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.906);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.259);
  padding: 2% 1%;
}
